<div class="container-screen">
    <h1>Ola, {{name}}</h1>
    <h1>Este é o Backoffice da volkswagen</h1>
    <h1>Seja bem-vindo(a)</h1>

    <table mat-table [dataSource]="cars" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="ID">
            <th mat-header-cell *matHeaderCellDef class="th-table"> ID </th>
            <td mat-cell *matCellDef="let car" class={{className}}> {{car.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="NOME">
            <th mat-header-cell *matHeaderCellDef class="th-table"> NOME </th>
            <td mat-cell *matCellDef="let car" class={{className}}> {{car.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="ANO">
            <th mat-header-cell *matHeaderCellDef class='th-table'> ANO </th>
            <td mat-cell *matCellDef="let car; let i = index" class={{className}}>
                {{car.dateRelease}}
                {{changeClass(i)}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>